# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pt

# Node
node_modules/
build/

# IDE
.idea/
.vscode/

# Model binaries & weights
yolov8n.pt
yolov8s.pt
*.caffemodel
*.onnx
*.yaml.cache
lbfmodel.yaml
face_detection_yunet.onnx
deploy.prototxt
res10_300x300_ssd_iter_140000.caffemodel
ml-service/phone_model/
ml-service/phone_model2/
ml-service/phone_best/
ml-service/phone_best2/
ml-service/phone_best3/
ml-service/phone_best4/
ml-service/phone_best5/
ml-service/phone_best6/
ml-service/phone_best7/
ml-service/phone_best8/
ml-service/phone_trained/
ml-service/phone_data.yaml
datasets/
Smartphone-Detection/

# SQLite DB
backend/proctor.db

# Environment
.env

# Misc
project 2/